<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Drive Details</title>
</head>
<body>

<nav class="navbar navbar-expand-lg  border-bottom" id="navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="{{ url_for('static', filename='logo.svg') }}" width="36" height="36">
      <span class="fw-semibold">Placement Portal</span>
    </a>  
  </div>
</nav>

<div class="container py-5">
    <div class = "container align-items-center d-flex">
        <div class = "card shadow-sm p-5"  id="main-card" style = "max-width: 1200px; width: 100%;" >
        
        <nav class="navbar navbar-light bg-light rounded mb-4 px-3">
          <h4 class="fw-semibold">Drive Details</h4>
          <a href="{{ url_for('student.student_dashboard') }}" class="btn btn-outline-dark">Go Back</a>
        </nav>

    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Drive ID:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.id }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Company Name:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.company_name }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Job Title:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.job_title }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Job Description:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.job_description }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Eligibility Criteria:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.eligibility }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Drive Status:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.status }}</div>
    </div>
    <div class="row mb-3">
      <div class = "col-md-4 fw-bold">Drive Deadline:</div>
      <div class = "col-md-8 fw-semibold text-muted">{{ drive.deadline }}</div>
    </div>
    <div class = "ms-auto mb-3">
      {% if drive.status == 'Active' %}
      <form action="{{ url_for('student.apply', drive_id=drive.id) }}" method="POST">
        <button type="submit" class="btn btn-outline-success">
          Apply
        </button>
      </form>
      {% else %}
      <span class="btn btn-danger disabled">Closed</span>
      {% endif %}
    </div>

</div>
</div>
</div>
</body>
</html>