<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Create Drive</title>
</head>
<body>

<nav class="navbar navbar-expand-lg  border-bottom" id="navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="{{ url_for('static', filename='logo.svg') }}" width="36" height="36">
      <span class="fw-semibold">Placement Portal</span>
    </a>  
  </div>
</nav>

<div class="container py-5">
    <div class = "container align-items-center d-flex">
        <div class = "card shadow-sm p-5" id="main-card"  style = "max-width: 1200px; width: 100%;">
    <nav class="navbar navbar-light bg-light rounded mb-4 px-3">
      <h4 class="fw-semibold">Create a Placement Drive</h4>
      <a href="{{ url_for('company.company_dashboard') }}" class="btn btn-outline-dark ">Back</a>
    </nav>
    <p class="text-muted mb-4">Fill in the details below to create a new placement drive.</p>

<form method="POST" action="{{ url_for('company.create_drive') }}">
  <div class="mb-3">
    <label class="form-label">Job Title</label>
    <input type="text" class="form-control" name="job_title" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Job Description</label>
    <textarea class="form-control" name="job_description" rows="3" required></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Eligibility Criteria</label>
    <textarea class="form-control" name="eligibility_criteria" rows="2" required></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Application Deadline</label>
    <input type="date" class="form-control" name="application_deadline" required>
  </div>

  <div class="d-flex justify-content-end">
    <input type="submit" class="btn btn-outline-success" value="Create Drive">
  </div>
</form>

</div>
</div>
</div>
</body>
</html>