<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Drive Applications</title>
</head>
<body>
<nav class="navbar navbar-expand-lg  border-bottom" id="navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="{{ url_for('static', filename='logo.svg') }}" width="36" height="36">
      <span class="fw-semibold">Placement Portal</span>
    </a>  
  </div>
</nav>

<div class="container py-5">
    <div class = "container align-items-center d-flex">
        <div class = "card shadow-sm p-5"  id="main-card" style = "max-width: 1200px; width: 100%;" >

        <nav class="navbar navbar-light bg-light rounded mb-4 px-3">
          <h4 class="fw-semibold">Applications for {{ drive.job_title }}</h4>
          <a href="{{ url_for('company.company_dashboard') }}" class="btn btn-outline-dark">Go Back</a>
        </nav>

    <p><strong>Applications Received</strong></p>

    <div class="border rounded p-3">

        {% for app in student_applications %}
        <div class="row align-items-center border-bottom py-2">

            <div class="col-md-8">
                <div class = "fw-semibold">{{ app.student_name }}</div>
                <small class = "text-muted">Status: {{ app.status }}</small>
            </div>

            <div class ="col-md-4 text-end">
                <a href="{{ url_for('company.student_application', application_id=app.id) }}" 
                   class="btn btn-outline-primary">
                   Review Application
                </a>
            </div>
        </div>
        {% endfor %}

    </div>


</div>
</div>
</div>
</body>
</html>