<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Placement Portal</title>
    <style>
        .container-fluid{
            height: 55px;
        }
    </style>
</head>
<body>
<nav id = "nav" class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo.png') }}"  width="40" height="40" class="d-inline-block align-text-top">
      Placement Portal
      <img src="{{ url_for('static', filename='logo.png') }}"  width="40" height="40" class="d-inline-block align-navbar-right">
    </a>
  </div>
</nav>
    <div id = "main">
        <div id = "canvas">
               <h2>Welcome to IIT Madras Placement Portal</h2>
               <p>Explore the latest job opportunities, internships, and placement resources tailored for IIT Madras students. Stay updated with company visits, placement statistics, and career guidance to kickstart your professional journey.</p>
               <p>If already Registered <a href = "{{ url_for('auth.login') }}">Login here</a></p> 
               <p>New Students can Register here <a href = "{{ url_for('auth.register_student') }}">register here</a></p>
               <p>New Companies can Register here <a href = "{{ url_for('auth.register_company') }}">register here</a></p>

            </div>
    </div>
    
</body>
</html>